[Unit]
Description=Backend for Minnehack

[Service]
Type=simple
ExecStart=target/release/minnehack
Restart=always
User=minnehack
Group=minnehack
WorkingDirectory=/root/Opaque/

[Install]
WantedBy=multi-user.target
