[Unit]
Description=Backend for Minnehack

[Service]
Type=simple
ExecStart=/root/Opaque/target/release/minnehack
Restart=always
User=minnehack
WorkingDirectory=/root/Opaque

[Install]
WantedBy=multi-user.target
